.blog-screen {
  position: relative;
}

.blog-screen > h1 {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 50%;
  font-size: 80px;
}

.blog-screen .writer-date > h2 {
  margin: 0;
}

.blog-screen .edit-btn {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
